* {
margin: 0;
padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ribbon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    text-align: center;
    height: 80px;
    background-color: blue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ribbon h1 {
    color: #FFFFFF;
}

.ribbons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    flex-grow: 1;
}

.bar {
  fill: steelblue;
}
.axis path {
  display: none;
}

/* map */
.map-region-hover {
    stroke: red;
    stroke-width: 1.5px;
}

#chart {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}
